<a href="https://colab.research.google.com/github/SarthakSingh7/NumPy/blob/main/Python_Libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Video link: https://www.youtube.com/watch?v=SRFTJ94WREA

**What are python libraries?**

Any Python library is a collection of functions and methods that allows us to perform many actions without writing complete code.

Important libraries
1. NumPy
2. Pandas
3. Matplotlib

![image.png]()

## NumPy 
NumPy stands for **Num**erical **Py**thon
and it is a core library for scientific computing

It consists of multi dimesnional array orbjects and a collection of routines for processin those arrays

Note: unlike the arrays of Java and C++ the mumpy arrays have multiple dimensions.

In [ ]:
# importing library

import numpy as np

## Single-dimensional Array

In [ ]:
# we have passed a list 
# it will have 1 row and 4 columns

n1 = np.array([10,20,30,40])
n1

array([10, 20, 30, 40])

##Multi-dimensional Array

In [ ]:
# we have used list of lists [[10,20,30,40],[40,30,20,10]]  
# it will have 2 rows and 4 columns

n2 = np.array([[10,20,30,40],[40,30,20,10]])
n2

array([[10, 20, 30, 40],
       [40, 30, 20, 10]])

In [ ]:
l1 = [1,2,3,4]

# creating a single dim array
n1 = np.array(l1)
print(n1)
type(n1)

[1 2 3 4]

numpy.ndarray

In [ ]:
# single dim array
n1

array([1, 2, 3, 4])

In [ ]:
l1 = [1,989,3,45,5,6,78,9]
l2 = sorted(l1)

# creating a multi-dimensional array

n2 = np.array([l1,l2])
print(n2)
print(type(n2))

[[  1 989   3  45   5   6  78   9]
 [  1   3   5   6   9  45  78 989]]
<class 'numpy.ndarray'>

In [ ]:
# multi-dim array
n2

array([[  1, 989,   3,  45,   5,   6,  78,   9],
       [  1,   3,   5,   6,   9,  45,  78, 989]])

##<div align = 'center'>**How to initialize NumPy array with Zeroes?**</div>

# <div align = 'center'> **np.zeros()** method </div>

In [ ]:
## initializing NumPy array with zeroes
# two attributes taken are (rows, colums)
# in this case we have taken1 row and 2 columns and initialize them with zeros

n3 = np.zeros((1,2))
n3

array([[0., 0.]])

In [ ]:
## initializing NumPy array with zeroes
# in this case 5 rows and 5 columns are initialized with zeros
# it is equivalent of creating a 5 * 5 matix will zeroes

n4 = np.zeros((5,5))
n4

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
print(type(n3))
print(type(n4))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [ ]:
# create a 10 * 10 numpy array 

n5 = np.zeros((10,10))
n5

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

##<div align = 'center'>**How to initialize NumPy array with a Specific number?**</div>

# <div align = 'center'> **np.full()** method </div>

In [ ]:
# create a 2 * 2 array with all numbers as 10

n6 = np.full((2,2),10)
n6

array([[10, 10],
       [10, 10]])

In [ ]:
# create a 5 * 12 array with all numbers as 7

n7 = np.full((5,12),7)
n7

array([[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]])

##<div align = 'center'>**How to initialize NumPy array within a Range?**</div>

# <div align = 'center'> **np.arange()** method </div>

In [ ]:
## create a numpy array that contains all values in the range 1 to 100 

n8 = np.arange(1,101)
n8

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [ ]:
# if we want the numpy array that has values of specific step size 
# like 10 15 20 25 30 35...

# here 5 denotes the step size
n9 = np.arange(1,101,5)
n9

array([ 1,  6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81,
       86, 91, 96])

In [ ]:
# create a numpy array which has values from 50 to 5000 with step size 25
n10 = np.arange(50,5001,25)
n10

array([  50,   75,  100,  125,  150,  175,  200,  225,  250,  275,  300,
        325,  350,  375,  400,  425,  450,  475,  500,  525,  550,  575,
        600,  625,  650,  675,  700,  725,  750,  775,  800,  825,  850,
        875,  900,  925,  950,  975, 1000, 1025, 1050, 1075, 1100, 1125,
       1150, 1175, 1200, 1225, 1250, 1275, 1300, 1325, 1350, 1375, 1400,
       1425, 1450, 1475, 1500, 1525, 1550, 1575, 1600, 1625, 1650, 1675,
       1700, 1725, 1750, 1775, 1800, 1825, 1850, 1875, 1900, 1925, 1950,
       1975, 2000, 2025, 2050, 2075, 2100, 2125, 2150, 2175, 2200, 2225,
       2250, 2275, 2300, 2325, 2350, 2375, 2400, 2425, 2450, 2475, 2500,
       2525, 2550, 2575, 2600, 2625, 2650, 2675, 2700, 2725, 2750, 2775,
       2800, 2825, 2850, 2875, 2900, 2925, 2950, 2975, 3000, 3025, 3050,
       3075, 3100, 3125, 3150, 3175, 3200, 3225, 3250, 3275, 3300, 3325,
       3350, 3375, 3400, 3425, 3450, 3475, 3500, 3525, 3550, 3575, 3600,
       3625, 3650, 3675, 3700, 3725, 3750, 3775, 3800, 3825, 3850, 3875,
       3900, 3925, 3950, 3975, 4000, 4025, 4050, 4075, 4100, 4125, 4150,
       4175, 4200, 4225, 4250, 4275, 4300, 4325, 4350, 4375, 4400, 4425,
       4450, 4475, 4500, 4525, 4550, 4575, 4600, 4625, 4650, 4675, 4700,
       4725, 4750, 4775, 4800, 4825, 4850, 4875, 4900, 4925, 4950, 4975,
       5000])

In [ ]:
print(len(n10))

199

# <div align = 'center'> **Initializing NumPy array with random numbers**
# <div align = 'center'>Note:  NumPy has a sub module named **random**</div>

In [ ]:
# create a numpy array whith 5 random numbers between 1 and 100

# NumPy has a module named random. It is same as the random library

n11 = np.random.randint(1,100,5)
n11

array([77, 11, 38,  2, 28])

In [ ]:
# Create a NumPy array which has 12 random numbers between 1 and 100 


n12 = np.random.randint(1,100,12)
n12

array([64, 17, 82, 16,  9, 51, 64, 89, 60, 15, 40, 45])

# <div align = 'center'> **NumPy-Shape**
## <div align = 'center'>  Checking the shape of NumPy arrays 

### <div align = 'center'>shape ----------> (Rows,col)

In [ ]:
n13 = np.array([[1,2,3],[4,5,6]])
n13.shape
# Here shape is (2,3) which implies that there are 2 rows and 3 columns

(2, 3)

## <div align = 'center'>  **Changing the shape of NumPy arrays**

In [ ]:
n13.shape = (3,2)
n13

array([[1, 2],
       [3, 4],
       [5, 6]])

In [ ]:
n13.shape = (-1,1)
n13

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])